﻿/* Styles for the elements */
body
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 85%;
    width: 800px;
    margin: 0 auto;
    padding: 15px;
    background-repeat: repeat-y;
    background: radial-gradient(circle, white, gray);
}
form {
    border: 3px solid darkgrey;
    background-color: lightgray;
}
header {
    padding-bottom: 1em;
    background-color: #507CD1;
}
header h1 {
    font-size: 200%;
    font-weight: bold;
    color: white;
    margin: 0 0 .25em;
}
header h2 {
    font-size: 140%;
    font-style: italic;
    font-weight: bold;
    color: red;
    margin-left: 1em;
}
section {
    padding: 10px;

}
h1 {
    font-size: 140%;
    color: #40525C;
}
h2
{
    font-size: 120%;
}
footer {
    border-top: 2px solid grey;
}
footer p {
    font-size: 80%;
    text-align: right;
    margin-bottom: 0;
}
button {
    padding: 10px;
}
/* Styles for the classes */
.contactInfoDiv {
    text-align: left;
    font-weight: bold;
}
.listboxDiv {

    overflow-x: auto;
    height: 200px;
}
.validator {
    color: red;
}
.col1 {
    width: 130px;
}
.col2 {
    width: 100px;
}
.col3 {
    width: 100px;
}
.col4 {
    width: 100px;
}
.col5 {
    width: 430px;
}

